@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .app-content-height {
      height: calc(100vh - 150px);
    }
    .mac-fullscreen-layout .app-content-height {
      height: calc(100vh - 110px);
    }
    .media-container-height{
      height: calc(100vh - 204px);
    }
    .mac-fullscreen-layout .media-container-height{
      height: calc(100vh - 164px);
    }
    .media-tranparency{
      background-color: #00000082;
    }
    .media-title-width{
      width: calc(100% - 20px);
    }
    .media-controls-height{
      height: calc(100% - 20px)
    }
    .track-media-title-size{
      height: 52px;
      width: 85px;
    }
    .w-200{
      width: 200px;
    }
    .h-89{
      height: 89px;
    }
    .text-xsm{
      font-size: 11px;
    }
    .media-wrppaer-width{
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

#app-header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
  
body {
  font-family: 'Roboto', sans-serif;
}
